<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--My Stylesheet-->
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
  <div id="header">
    <% include templates/header.ejs %>
  </div>

   <div class="row" id='card_template'>
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="https://www.sitebuilderreport.com/assets/facebook-stock-up-446fff24fb11820517c520c4a5a4c032.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

  <p>I have... </p>
  <div class="chips chips-placeholder" id="ingredients"></div>

  <p>I want to make...</p>
    <div class="chips chips-placeholder" id="query"></div>

    <div class='row' id='buttons'>
      <div class='col s4' id='submitbtn'>
        <button class="btn waves-effect green accent-4" id="submit" type="submit" name="action" onclick="sendYummly()">
          Recipe Me
          <i class="material-icons right">local_dining</i>
        </button>
      </div>

      <div class='col s4' id='attribution'>
        Recipe search powered by <a href='http://www.yummly.co/recipes'><img alt='Yummly' src='https://static.yummly.co/api-logo.png'/></a>
      </div>

      <div class='col s4' id='clearbtn'>
        <button class="btn waves-effect deep-orange darken-3" id="clear" type="submit" name="action" onclick="clearYummly()">
          Clear
          <i class="material-icons right">clear</i>
        </button>
      </div>
    </div>


    <div id='putResults'>
      <div class='row' id='row1'>
        <div class='col s3 grid' id='putCard1'></div>
        <div class='col s3 grid' id='putCard2'></div>
        <div class='col s3 grid' id='putCard3'></div>
        <div class='col s3 grid' id='putCard4'></div>
      </div>
      <div class='row' id='row2'>
        <div class='col s3 grid' id='putCard5'></div>
        <div class='col s3 grid' id='putCard6'></div>
        <div class='col s3 grid' id='putCard7'></div>
        <div class='col s3 grid' id='putCard8'></div>
      </div>
      <div class='row' id='row2'>
        <div class='col s3 grid' id='putCard9'></div>
        <div class='col s3 grid' id='putCard10'></div>
        <div class='col s3 grid' id='putCard11'></div>
        <div class='col s3 grid' id='putCard12'></div>
      </div>
    </div>


    <footer class="page-footer grey darken-2">
      <div class="footer-copyright">
        <div class="container" id="copyright">
          © 2017 Cole Tomlinson
        </div>
      </div>
    </footer>

    <!--jQuery, materialize, and my scripts-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
  </body>

  </html>
