
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Cole's Recipes</h1>
  	</br>
  	<a href = "/">Home</a> | 
	<a href = "/about">About</a> |
	<a href = "">Link</a> |
  </body>
</html>
