body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
	width: 100%;
	margin-bottom: 45px;
}

#card_template {
	display: none;
}

footer.page-footer {
	padding: 0;
}

#copyright {
	text-align: center;
}

#title {
	padding-left: 20px;
}

#attribution {
	text-align: center;
}

#submitbtn {
	position: relative;
}

#submit {
	position: absolute;
	left: 0;
}

#clearbtn {
	position: relative;
}

#clear {
	position: absolute;
	right: 0;
}



#buttons {
	padding-bottom: 40px;
}