body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
	width: 100%;
}

#card_template {
	display: none;
}

#search {
	margin-top: 20px;
}

#ingredients {
	margin-top: 20px;
}

#submit {
	margin-bottom: 20px;
}

/*
.result {
	position: relative;
	padding: 40px;
	width: 50%;
}

.result > img {
	right: 10px;
	position: absolute;
}
*/